<nav class="main-navbar">
    <!-- Logo Alanı -->
    <div class="navbar-brand">
        <a href="/">
            <img src="/img/solohab.png" alt="Solohab" class="navbar-logo" />
        </a>
    </div>

    <!-- Menü Linkleri (Masaüstü) -->
    <div class="navbar-menu">
        {{ $currentPage := . }}
        {{ range .Site.Menus.main }}
        <a href="{{ .URL }}" class="menu-link{{ if or ($currentPage.IsMenuCurrent "main" .) ($currentPage.HasMenuCurrent "main" .) }} active{{ end }}">
            {{ .Name }}
        </a>
        {{ end }}
    </div>

    <!-- Aksiyon Butonları (Giriş / Kayıt) -->
    <div class="navbar-actions">
        <a href="https://app.solohab.com/login"
           class="btn-login"
           onclick="gtag('event', 'login_click');">
            Giriş Yap
        </a>

        <a href="https://app.solohab.com/register"
           class="btn-register"
           onclick="gtag('event', 'register_click', {
               method: 'email'
           });">
            Ücretsiz Kayıt
        </a>
    </div>
</nav>
